<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation="" class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" dropdown="">
                    <img alt="Logo" th:src="@{/img/logo.png}" class="logo"/>
                    <a class="dropdown-toggle" dropdown-toggle="" href="">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{userInfo.name}}</strong>
                                <b class="caret"/>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li class="divider"></li>
                        <li><a th:href="@{#}" onclick="$('#form-logout').submit();">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    xM
                </div>
            </li>
            <li ng-class="{active: $state.includes('admin')}" sec:authorize="hasRole('ROLE_ADMIN')">
                <a href=""><i class="fa fa-wrench"></i><span class="nav-label ng-binding">Administração</span></a>
                <ul class="nav nav-second-level collapse in" aria-expanded="true">
                    <li ui-sref-active="active"><a ui-sref="user.list">Usuários</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>